$logo: "Oleo Script Swash Caps", cursive;
$bodyFont: "Open Sans", sans-serif;

$bg: #0d2021;
$font: #478eb4;

//TOP section
.asset {
  display: none;
}

.logo {
  margin-top: 10%;
  width: 100px;
  /*position: absolute;*/
  /*margin:auto;*/
}

.headerImage {
  width: 100%;
}

//whole page
.app {
  // background-color: $bg;
  color: $font;
  font-family: $bodyFont;
}
.wrapper {
  height: 100vh;
  margin-top: 50px;
}

.section-title {
  font-size: 8em;
}
// HEADER section
.header-style {
  background-color: white;
  .top-header {
    font-family: $logo;
    font-size: 30px;
  }
}
.menu-icon {
  position: fixed;
  top: 10;
  left: 10;
  color: $font;
  font-size: 1.5em;
}
.menu-icon:hover {
  color: white;
  cursor: pointer;
}
.sidenav {
  // background-color: $bg;
  background-color: white;
  opacity: 0.5;
  color: $font;
  text-align: center;
  font-size: 1.5em;
}

//it's overwritten by materizlize css
// .sidenav-item {
//   li {
//     a {
//       color: $font;
//     }
//   }
// }

//TOP section
.scroll-down {
  position: absolute;
  width: 100%;
  top: 60%;
  text-align: center;
}

// ABOUT section
.about {
  h1 {
    font-size: 10em;
  }
}
.aboutContents {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  .left-container {
    img {
      width: 100%;
    }
  }
}

// WORKs section
.work {
  height: 150vh;
}
.work_container {
  position: relative;
  width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.overlay {
  transition: 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-size: 56px;
}

.work_container:hover .image {
  opacity: 0.3;
}

.work_container:hover .overlay {
  opacity: 1;
}

//CONTACT section
.contact {
  text-align: center;
  i {
    font-size: 30px;
    margin: 3px;
  }
}
